#app {
  width:100%;
  height:100%;
}
#hours {
  font-family: SevilleSharp-Regular;
  text-length: 65;
  fill: #b3b3b3;
  font-size:90;
}

#minutes{
  font-family: SevilleSharp-Regular;
  text-length: 65;
  fill: #b3b3b3;
  font-size:80;
}

#colon1{
  font-family: SevilleSharp-Regular;
  text-length:20;
  fill: #808080;
  font-size:70;
}

#colon2{
  font-family: SevilleSharp-Regular;
  text-length:20;
  fill: #808080;
  font-size:70;
}

#seconds {
  font-family: SevilleSharp-Regular;
  text-length: 65;
  fill: #b3b3b3;
  font-size:55;
}

#battery-level {
 width:30; 
 height:16; 
 fill:white;
}
#date {
  fill: #b3b3b3;
  text-length: 65;
  font-family: SevilleSharp;
  font-size:35;
}

#day {
  fill: #b3b3b3;
  text-length: 65;
  font-family: SevilleSharp;
  font-size:45;
}

.weather-text {
  text-length: 30;
  font-family: SevilleSharp;
  font-size:27;
}

.smallPercent-text {
  text-length: 1;
  font-family: SevilleSharp;
  font-size:20;
}

.weather-color {
  fill: #b3ffb3;
}

.wxtime-text {
   font-size:25;
}

.battery-text {
  text-length: 4;
  font-family: SevilleSharp-Bold;
  font-size:27;
}

.status-text {
  fill: #b3b3b3;
  text-length: 65;
  font-size:20;
}

.h1 {
  fill: #b3b3b3;
  font-family: SevilleSharp-Bold;
  font-size:45;
}

.h2 {
  fill: #b3b3b3;
  font-family: SevilleSharp-Bold;
  font-size:25;
}
.h3 {
  fill: #b3b3b3;  
  font-family: System-Light;
  font-size:22;
}

.image {
   width:32;
   height:32;
}

.graph-point {
  fill:#b0b1b2;
}

.gval {
  fill:#4d94ff;
}

.companionStatus {
  fill:#ff3333;
}

.o3 {
  fill:#ff3333;
}

.pm25 {
  fill:#ff3333;
}

.heart-color {
  fill: #ffc2b3;
}

.step-color {
  fill: #ffffb3;
}

.floors-color {
  fill: #df80ff;
}